@charset "UTF-8";

h2 {
    font-family: var(--title);
    margin-top: 10px
}

.boxArticle {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    margin: 10px;
    padding: 0px 10px 0px 0px;
    background-color: white;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.137);
}

.boxArticle:hover {
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.233);
}

.boxContent {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
}

.boxContent > p {
    font-family: var(--side);
}

main a {
    text-decoration: none;
    color: black;
}

div.border {
    position: relative;
    left: 0px;
    background-color: var(--amarelo);
    height: 70px;
    width: 2px;
    transition: 0.2s;
}

.boxArticle:hover>.border {
    width: 3px;
    background-color: rgb(255, 196, 0);
}

#img-index {
    position: relative;
    width: 80%;
}