@charset "UTF-8";

main {
    height: 100vh;
}
.inicio {
    background-color: white;
    padding: 10px;
}

.artigo {
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
    color: var(--azul);
}

.artigo img {
    border-left: 1px solid black;
}

.imgNext {
    width: 30px;
}

.inicio a {
    text-decoration: none;
}

.artigo:hover {
    background-color: var(--branco);
    color: var(--vermelho);
}

.wwp-fisica {
    margin-top: 10px;
}

.wwp-fisica:hover {
    opacity: 0.5;
}