@charset "UTF-8";

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* VARIÁVEIS */

:root {
    --main: Lato;
    --side: Arial;
    --title: Montserrat;
    --titles: Roboto;
    --vermelho: #F2380F;
    --branco: #E9F2F1;
    --cinza-claro: #2d3540de;
    --azul: #425388;
    --azul-claro: #010a26dc;
    --vinho: #730A44;
    --amarelo: rgb(238, 184, 8);
}

* {
    padding: 0px;
    margin: 0px;
}

/* LAYOUT */

.topContainer {
    margin: auto;
}

.contentContainer {
    margin: auto;
}

header {
    padding: 15px;
    background-color: #E9F2F1;
    background-image: linear-gradient(-180deg, var(--azul), var(--azul-claro));
}

.headerContent {
    display: flex;
    justify-content: space-between;
}

.headerTop {
    display: flex;
}

header a {
    text-decoration: none;
    color: white;
    font-family: var(--title);
}

.buttons > button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;
}

.buttons > button:hover {
    color: var(--amarelo);
}

#btnHideMenu {
    display: none;
}

nav {
    position: absolute;
    text-align: center;
    height: 0px;
    transition: height 0.5s;
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(-180deg, #2D3540, #474b50);
    background-color: #2D3540;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.233);;
    color: white;
    font-family: var(--side);
    
}

nav ul {
    margin: 20px 10px 0px 10px;
    list-style: none;
    columns: 2;
}

nav p {
    margin-left: 10px;
    text-align: left;
    margin-top: 10px;
    font-family: var(--title);
}

nav ul li {
    text-align: left;
    border-radius: 10px;
    background-color: var(--cinza-claro);
    padding: 5px;
    margin-bottom: 10px;
    width: fit-content;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.visited > a{
    color: var(--amarelo);
}

nav ul li:hover {
    background-color: #555a6131;
}

nav ul li:hover > a{
    color: var(--amarelo);
}

main {
    font-family: var(--main);
    font-size: 18px;
    padding: 10px;
}

h2 {
    font-size: 28px;
    text-indent: 5px;
    font-family: var(--titles);
    font-weight: 500;
    margin: 10px 0px 10px 0px;
}

.articleIndex {
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.233);
    margin: 10px;
    font-family: var(--side);
}

.articleIndex > ul {
    list-style: inside;
    list-style-type: '✔️';
    padding: 5px 0px 5px 5px; 
    margin-left: 5px;
}

.articleIndex > ul li {
    background-color: white;
    margin-top: 5px;
}

main p, h3 {
    margin: 10px 10px 4px 10px;
}

main p {
    text-indent: 5px;
}

h3 {
    font-size: 24px;
    font-family: var(--titles);
    font-weight: 500;
}

h3::before {
    content: '✔️';
}

main ul {
    list-style: inside;
    list-style-type: '💡';
    margin-left: 15px;
    border-left: 1px solid var(--amarelo);
    padding: 5px;
}

main ul li {
    font-family: var(--side);
    margin-top: 10px;
    width: 50%;
    background-color: var(--amarelo);
    border-radius: 5px;
    padding: 5px;
}

.imagens {
    width: 330px;
    margin: 10px 0px 10px 20px;
}

div.boxImages {
    display: flex;
    margin: auto;
    width: fit-content;
}

.imagens2 {
    margin: auto;
}

.btnAbove {
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.233);
    border-radius: 50%;
    font-size: 40px;
    color: black;
}

/* CELULAR LANDSCAPE */

@media (min-width: 576px) {

    /* Layout */
    .topContainer {
        max-width: 540px;
    }

    .contentContainer {
        max-width: 505px;
    }
}

/*Tablet portrait*/
@media (min-width: 768px) {

    /* Layout */
    .topContainer {
        max-width: 720px;
    }

    .contentContainer {
        max-width: 673px;
    }

}

/*Tablet landscape*/
@media (min-width: 992px) {

    /* Layout */
    .topContainer {
        max-width: 960px;
    }

    .contentContainer {
        max-width: 898px;
    }

    .buttons {
        display: none;
    }

    nav {
        height: 100px;
        position: static;
        text-align: left;
    }

    nav ul {
        margin-top: 20px;
        list-style: none;
        columns: 1;
    }

    nav ul li {
        display: inline;
        margin-left: 10px;
    }

}

/* PC */
@media (min-width: 1200px) {

    /* Layout */
    .topContainer {
        max-width: 1140px;
    }

    .contentContainer {
        max-width: 800px;
    }
    .imagens {
        width: min-content;
    }
}